@import '@/sass/common/common.scss';
.tags {
  overflow: hidden;
  position: relative;
  .categorys, .keyword-list {
    padding: 10px;
    overflow: hidden;
    width: calc(100% + 10px);
    margin-right: -10px;
    a {
      display: block;
      float: left;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      padding: 3px 15px;
      border-radius: 3px;
      margin-right: 10px;
      box-sizing: border-box;
      min-height: 31px;
      &.active {
        background: #f2f2f2;
        color: #666666;
        font-weight: 500;
        i {
          margin-left: 6px;
          font-size: 12px;
          display: inline-block;
          line-height: 24px;
          text-align: center;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .keyword-list {
    border-top: 1px solid #eee;
    padding-top: 10px;
    height: calc(100% + 10px);
    margin-bottom: -10px;
    a {
      margin-bottom: 15px;
      &.active {
        padding: 3px 5px 3px 10px;
      }
    }
  }
  .show-more {
    font-size: 14px;
    line-height: 24px;
    padding: 3px 0;
    color: #999999;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    overflow: hidden;
    span {
      float: left;
    }
    i {
      float: left;
      margin-left: 10px;
      transform: rotate(-90deg)
    }
    user-select: none;
    -webkit-user-drag: none;
  }
}

.list {
  .item {
    .bottom-bar {
      font-size: 14px;
      color: #999999;
      padding: 10px;
    }
    div.party-name {
      float: left;
      display: block;
    }
    .right-ctrl {
      float: right;
      a.comfort {
        
      }
      a.comment {
        
      }
    }
  }
}

.phone-input {
  @extend %clearfix;
  .select {
    float: left;
    position: relative;
    width: 90px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    .select-input{
      overflow: hidden;
      span {
        display: block;
        float: left;
      }
      i {
        display: block;
        transform: rotate(-90deg);
        float: right;
      }
    }
    .dropdown {
      transition: all .15s ease-in-out;
      transform: translateY(10px);
      opacity: 0;
      visibility: hidden;
      padding: 10px 0;
      position: absolute;
      z-index: 999;
      background-color: white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      top: 44px;
      left: 0;
      border-radius: 3px;
      line-height: 36px;
      width: 150px;
      height: 200px;
      overflow: auto;
      li {
        padding: 0 10px;
        &:hover {
          background-color: #fafafa;
        }
      }
      &.visible {
        transition: all .15s ease-in-out;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  label {
    float: left;
    width: calc(100% - 100px);
    margin-left: 10px;
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
