@import '@/sass/common/common.scss';
ol.list {
  > li.item {
    .datetime {
      font-style: normal;
      color: lighten($gray, 60%);
      float: left;
      display: block;
      line-height: 12px;
      padding: 10px;
    }
  }
}