@import 'common.scss';
body {
  font: 12px/1.8 Helvetica,Arial,sans-serif;
  color: #333333;
}
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  &:link, &:visited {
    color: #7094b7;
  }
  &:hover {
    color: orange;
  }
  &:active {
    color: red;
  }
}
ol {
  list-style: none;
}
li {
  hr {
    height: 1px;
    border: none;
    background: #eeeeee;
  }
}
ol, button {
  padding: 0;
}
input, select {
  border: 1px solid #cccccc;
  vertical-align: middle;
  line-height: 22px;
  padding: 3px 7px 4px;
  box-shadow: 0 0 0px 1000px white inset!important;
}

input,
select,
textarea,
.rich-textarea,
button {
  outline: none;
  border-radius: 3px;
}
textarea, input, .rich-textarea {
  font-size: 12px;
  &:hover {
    border-color: orange;
  }
  &:focus {
    border-color: red;
  }
}
textarea, .rich-textarea {
  border: 1px solid #cccccc;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 22px;
  padding: 3px 7px 4px;
}
button {
  cursor: pointer;
}
button, .button, .page-num {
  border: 1px solid #dddddd;
  background: white;
  color: #666666;
  vertical-align: middle;
  line-height: 22px;
  padding: 3px 7px 4px;
  &[disabled] {
    color: lighten($gray, 68%);
    background-color: lighten($gray, 95%);
    border: 1px solid lighten($gray, 90%);
  }
  &:hover {
    border-color: orange;
    color: orange;
  }
  &:active {
    border-color: red;
    color: red;
  }
}
.button, .page-num {
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
}
a.button {
  color: #666666;
}
nav {
  background-color: white;
  a {
    line-height: 22px;
    padding: 3px 7px 4px;
    font-size: 14px;
    margin-right: 20px;
  }
}
header {
  border-bottom: 1px solid lighten($gray, 90%);
  .head-inner {
    padding: 3px 7px 4px;
    max-width: $viewWidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    i.iconfont {
      font-size: 24px;
      display: none;
      cursor: pointer;
    }
    h1, h2 {
      display: inline;
      font-weight: normal;
    }
    h1 {
      color: red;
    }
    h2 {
      color: orange;
      margin-left: 10px;
    }
  }
}
@media screen and (max-width: $viewWidth) {
  nav {
    display: none;
    border-bottom: 1px solid lighten($gray, 90%);
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 100%;
  }
  header {
    .head-inner {
      position: relative;
      i.iconfont {
        display: inline;
      }
    }
  }
}
.crumbs {
  padding: 3px 7px 4px;
}
.main {
  margin-top: 20px;
  flex: 1;
  .view-area {
    max-width: $viewWidth;
    margin: auto;
  }
}
.features {
  margin-top: 20px;
  padding: 3px 7px 4px;
  display: flex;
  align-items: center;
  a {
    flex: 1;
    font-size: 14px;
    margin-right: 10px;
    font-size: 14px;
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
  }
  .split-line {
    width: 1px;
    height: 20px;
    background-color: lighten($gray, 80%);
  }
}
.content {
  padding: 3px 7px 4px;
  .temp-name {
    color: #999;
    font-size: 14px;
  }
  h3 {
    font-weight: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
.editor, .searchBar {
  margin-top: 10px;
  padding: 3px 7px 4px;
  .form-tips {
    margin: 7px 0;
    padding: 7px;
    border: 1px solid orange;
    color: orange;
    line-height: 30px;
    input, select {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
.columns {
  padding: 3px 7px 4px;
}
.list {
  padding: 3px 7px 4px;
  > .item {
    > .temp-name {
      color: #999;
    }
    > blockquote {
      margin: 0;
    }
    > blockquote h3, > blockquote h4, > h3, > h4 {
      font-size: 14px;
      font-weight: normal;
      word-wrap: break-word;
      white-space: pre-wrap;
      margin: 0;
    }
    > .bottom-bar {
      position: relative;
      a {
        padding-right: 14px;
        display: inline-block;
        height: 27px;
        line-height: 27px;
      }
      .tips {
        position: absolute;
        background: #333333;
        color: white;
        font-size: 12px;
        padding: 3px 7px 4px;
        border-radius: 3px;
        bottom: 0px;
        left: 100px;
        &.fade {
          transition: opacity 1s linear, left 1s linear, bottom 1s linear;
          &.hide {
            opacity: 0;
            left: 200px;
            bottom: 100px;
          }
        }
      }
    }
    &.fade {
      transition: opacity .5s linear;
      &.hide {
        opacity: 0;
      } 
    }
  }
  .pagination {
    padding: 3px 7px 4px;
    display: flex;
    justify-content: flex-end;
    .page-num {
      &.current {
        color: red;
      }
    }
  }
}
.new-tips {
  color: red;
}
.popup {
  position: fixed;
  top: 25%;
  width: 100%;
  right:0;
  left:0;
  margin:auto; 
  background-color: white;
}
