@import 'common.scss';
.content {
  h3 {
    font-size: 16px;
  }
}

.replyEditor {
  textarea {
    height: 60px;
  }
  .bottom-bar {
    margin-top: 5px;
    display: flex;
    align-items: center;
    .info-tips {
      flex: 1;
    }
  }
}

ol.list {
  > li.item {
    blockquote {
      h3 {
        font-size: 16px;
      }
      em {
        font-style: normal;
        color: lighten($gray, 60%);
      }
    }
  }
}