@import 'common.scss';

$sampleHeight: 350px;

h1, h2, h3, h4 {
  font-weight: normal;
}
h2 {
  height: 32px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 24px;
}
header {
  border-bottom: none;
}
.unsupport-tips {
  color: $cherryRed;
  font-size: 16px;
  margin-top: 10px;
}
.qrcode {
  display: inline-block;
  .split {
    width: 100px;
  }
}
.qrcode .android .code ,
.qrcode .ios .code {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  background-color: white;
  text-align: center;
  line-height: 100px;
}
.qrcode .android button,
.qrcode .ios button {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 20px;
  border-color: $cherryRed;
  color: $cherryRed;
}
.banner {
  .inner {
    padding: 20px 0;
  }
}
.step {
  padding: 20px 0;
  overflow: hidden;
  &.first, &.third {
    background-color: #fafafa;
  }
}
.feature {
  font-size: 14px;
  margin-top: 20px;
  h3 {
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
  }
  .desc {
    text-align: left;
    color: #666666;
  }
}
.sample {
  width: 200px;
  height: $sampleHeight;
  position: relative;
  background-image: url('/static/images/sample.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  .pic {
    width: 76%;
    height: 100%;
    margin: 0 auto;
    background-size: 100% auto;
  }
}
.guide-pop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  .arrow {
    position: absolute;
    z-index: 999;
    right: 20px;
    top: 40px;
  }
}
.guide-pop > .dialog {
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /*!autoprefixer:off*/
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  /*autoprefixer:on*/
  z-index: 999;
  top: 20%;
  .close {
    color: #ffffff;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    .iconfont {
      line-height: 48px;
      font-size: 24px;
    }
  }
  li {
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    .iconfont {
      font-size: 18px;
    }
  }
}
.guide-pop > .modal {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
  position: absolute;
}

@media screen and (max-width: $viewWidth) {
  .banner {
    .inner {
      text-align: center;
      .download-area {
        button {
          margin-top: 30px;
        }
      }
    }
  }
  .sample, .feature {
    margin: 0 auto;
  }
  .feature {
    text-align: center;
    .desc {
      display: none;
    }
  }
}

@media screen and (min-width: $viewWidth) {
  .banner {
    .inner {
      text-align: right;
      background-image: url('/static/images/banner.png');
      background-position: left center;
      background-repeat: no-repeat;
      width: $viewWidth;
      margin: 0 auto;
      height: 200px;
      .download-area {
        margin-top: 42px;
        margin-right: 20px;
      }
    }
  }
  .step {
    .inner {
      width: $viewWidth;
      margin: 0 auto;
    }
    &.first, &.third {
      .feature {
        float: left;
      }
      .sample {
        float: right;
      }
    }
    &.sceond {
      .feature {
        float: right;
      }
      .sample {
        float: left;
      }
    }
  }
}
