@import 'common.scss';
form {
  margin: auto;
  max-width: 360px;
  padding: 10px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 10px;
  input {
    width: 100%;
    box-sizing: border-box;
  }
}