@import '@/sass/common/common.scss';

.content {
  h1 {
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
  }
  h2 {
    color: #999999;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
  }
  .content-viewer {
    font-size: 16px;
    margin-top: 20px;
    line-height: 36px;
    word-wrap: break-word;
    img {
      max-width: 100%;
      height: auto;
      margin: 15px auto;
    }
  }
}

.ctrl-bar {
  > a {
    display: block;
    > div {
      i {
        color: #999999;
      }
      > div {
        color: #999999
      }
    }
  }
}

@media screen and (min-width: $viewWidth + 62) {
  .ctrl-bar {
    position: fixed;
    width: 42px;
    left: 50%;
    margin-left: $viewWidth / 2 + 10;
    top: 50%;
    transform: translateY(-50%);
    > a {
      margin-top: 10px; 
      cursor: pointer;
      i:before {
        font-size: 24px;
        width: 42px;
        display: block;
        text-align: center;
      }
      > div {
        > div {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: $viewWidth + 62) {
  html, body {
    height: 100%;
    overflow: hidden;
  }
  .view-area {
    height: 100%;
  }
  .main {
    height: calc(100% - 42px);
  }
  .content {
    height: calc(100% - 52px);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: auto;
    background-color: white;
  }
  .ctrl-bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 52px;
    line-height: 52px;
    overflow: hidden;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    background-color: white;
    > a {
      float: left;
      width: 33.33%;
      text-align: center;
      color: #333;
      > div {
        width: 56px;
        margin: 0 auto;
        i {
          float: left;
          font-size: 24px;
          margin-right: 8px;
        }
        > div {
          font-size: 12px
        }
      }
    }
  }
}