@import 'common.scss';

.content {
  h1 {
    color: #333333;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    font-weight: normal;
    margin-top: 20px;
  }
  h2 {
    color: #999999;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
  }
  .content-viewer {
    color: #333333;
    font-size: 16px;
    margin-top: 10px;
    line-height: 36px;
    padding-bottom: 120px;
    white-space: pre-wrap;
    word-wrap: break-word;
    .download-btn {
      margin-top: 20px;
      text-align: center;
      max-width: $viewWidth - 20;
      width: calc(100% - 20px);
      /*!autoprefixer:off*/
      width: -webkit-calc(100% - 20px);
      width: -moz-calc(100% - 20px);
      /*autoprefixer:on*/
      width: -o-calc(100% - 20px);
    }
  }
}

.ctrl-bar {
  > a {
    display: block;
    > div {
      i {
        color: #999999;
      }
      > div {
        color: #999999
      }
    }
  }
}

@media screen and (min-width: $viewWidth + 62) {
  .view-area {
    max-width: $viewWidth;
  }
  .ctrl-bar {
    position: fixed;
    width: 42px;
    left: 50%;
    margin-left: $viewWidth / 2 + 10;
    top: 50%;
    transform: translateY(-50%);
    /*!autoprefixer:off*/
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    /*autoprefixer:on*/
    > a {
      margin-top: 10px; 
      cursor: pointer;
      i:before {
        font-size: 24px;
        width: 42px;
        display: block;
        text-align: center;
      }
      > div {
        > div {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: $viewWidth + 62) {
  html, body {
    height: 100%;
    overflow: hidden;
  }
  .view-area {
    height: 100%;
  }
  .main {
    height: calc(100% - 42px);
    /*!autoprefixer:off*/
    height: -webkit-calc(100% - 42px);
    height: -moz-calc(100% - 42px);
    /*autoprefixer:on*/
    height: -o-calc(100% - 42px);
  }
  .content {
    height: calc(100% - 52px);
    /*!autoprefixer:off*/
    height: -webkit-calc(100% - 52px);
    height: -moz-calc(100% - 52px);
    /*autoprefixer:on*/
    height: -o-calc(100% - 52px);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: auto;
    background-color: white;
  }
  .ctrl-bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 52px;
    line-height: 52px;
    overflow: hidden;
    color: white;
    /* border-top: 1px solid lighten($gray, 90%); */
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    background-color: white;
    > a {
      float: left;
      width: 33.33%;
      text-align: center;
      color: #333;
      > div {
        width: 56px;
        margin: 0 auto;
        i {
          float: left;
          font-size: 24px;
          margin-right: 8px;
        }
        > div {
          font-size: 12px
        }
      }
    }
  }
}