@import '@/sass/common/common.scss';
.content {
  h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
  }
  
  .content-viewer {
    font-size: 16px;
    margin-top: 10px;
  }

  .pagination {
    margin-top: 20px;
    overflow: hidden;
    .page-num {
      margin-left: 0;
    }
    .prev-section {
      float: left;
    }
    .next-section {
      float: right;
    }
  }
}