@import 'common.scss';
form {
  margin: auto;
  max-width: 360px;
  padding: 10px;
  box-sizing: border-box;
  .server-info, .vcode-info {
    padding: 10px;
    box-sizing: border-box;
    color: red;
    font-size: 14px;
    padding-left: 0;
  }
}

.form-group {
  margin-bottom: 10px;
  .code {
    display: flex;
    label {
      display: block;
      flex: 1;
      &:last-child {
        margin-left: 5px;
      }
    }
    button {
      box-sizing: border-box;
    }
  }
  input {
    width: 100%;
    max-width: 360px;
    box-sizing: border-box;
  }
}