@import 'common.scss';

ol.list {
  > li.item {
    blockquote {
      h3 {
        font-size: 16px;
        white-space: normal;
      }
    }
    .bottom-bar {
      display: flex;
      justify-content: flex-end;
    }
  }
}