<!doctype html>
<html lang="zh-cmn-Hans">
  <%- include(tempRoot + 'particles/head.html') %>
<body>
  <%- include(tempRoot + 'particles/header.html') %>
  <% if (particles === 'index.html') { %>
  <%- include(tempRoot + particles) %>
  <% } else { %>
  <div class="main">
    <div class="view-area">
      <%- include(tempRoot + particles) %>
    </div>
  </div>
  <% } %>
  <%- include(tempRoot + 'particles/footer.html') %>
  <script>
    /* window.onerror = function(message, source, lineno, colno, error) {
      _hmt && _hmt.push(['_trackEvent', 'website', 'error', message]);
    } */
    var globalDataStr='<%= globalData %>';
  </script>
  <% if (need_global_script) { %>
  <script src="/static/js/global.js?v=20190502316"></script>
  <% } %>
  <% if (need_auto_script) { %>
  <script src="<%= pageScriptFile %>?v=20190502406"></script>
  <% } %>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f20409c19b7631b8bc476b325ad3a4e5";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>
</html>