<!doctype html>
<html lang="zh-cmn-Hans">
  <%- include(tempRoot + 'particles/head.html') %>
<body>
  <%- include(tempRoot + 'particles/header.html') %>
  <div class="main">
    <div class="view-area">
      <%- include(tempRoot + particles) %>
    </div>
  </div>
  <script>
    var globalDataStr='<%= globalData %>'
  </script>
  <% if (need_global_script) { %>
  <script src="/static/js/global.js"></script>
  <% } %>
  <% if (need_auto_script) { %>
  <script src="<%= pageScriptFile %>"></script>
  <% } %>
</body>
</html>