<% if (user && (user.administrator || user.super)) { %>
<div class="crumbs">
  <div class="button-area">
    <a href="/mind/create" class="button">分享感悟</a>
    <a href="/classic/create" class="button">推荐内容</a>
    <!--<a href="/login" class="button">分享感悟</a>-->
    <!--<a href="/login" class="button">推荐内容</a>-->
  </div>
</div>
<hr>
<% } %>
<div class="tags">
  <div class="categorys">
    <a class="<%= !currTag ? 'active' : '' %>" href="/<%= currKeyword ? '?keywords=' + currKeyword : '' %>">全部</a>
    <a class="<%= currTag === 'works' ? 'active' : '' %>" href="?tag=works<%= currKeyword ? '&keywords=' + currKeyword : '' %>">作品</a>
    <a class="<%= currTag === 'article' ? 'active' : '' %>" href="?tag=article<%= currKeyword ? '&keywords=' + currKeyword : '' %>">文章</a>
    <a class="<%= currTag === 'sentence' ? 'active' : '' %>" href="?tag=sentence<%= currKeyword ? '&keywords=' + currKeyword : '' %>">句子</a>
  </div>
  <% if (keywordList && keywordList.length) { %>
  <div class="keyword-list">
    <% keywordList.forEach(keyword => { %>
    <% let params= [ currTag ? 'tag=' + currTag : '', currKeyword === keyword._id ? '' : 'keywords=' + keyword._id ].filter(item => !!item); %>
    <a class="<%= currKeyword === keyword._id ? 'active' : '' %>" href="<%= params.length > 0 ? '?' + params.join('&') : '/' %>"><%= keyword._id %><%- currKeyword === keyword._id ? '<i class="iconfont icon-guanbi"></i>' : '' %></a>
    <% }) %>
  </div>
  <% } %>
  <div class="show-more" style="display: none;">
    <span>点击展开更多</span>
    <i class="iconfont icon-fanhui"></i>
  </div>
</div>
<hr>
<ol id="classics" class="list">
  <% if (minds && minds.length) { %>
  <% minds.forEach((mind) => { %>
  <li class="item fade">
    <%- include(tempRoot + 'particles/classicref.html', { mind }) %>
    <div class="bottom-bar">
    </div>
    <hr />
  </li>
  <% }) %>
  <% } else { %>
    <li>
      <center><%= noDataTips %></center>
    </li>
  <% } %>
  <%- include(tempRoot + 'particles/pagination.html') %>
</ol>
