<div class="content-header">
  <div class="button-area">
    <% if (user) { %>
    <a href="/mind/create" class="button">分享感悟</a>
    <a href="/classic/create" class="button">推荐作品</a>
    <% } else { %>
    <a href="/login" class="button">分享感悟</a>
    <a href="/login" class="button">推荐作品</a>
    <% } %>
  </div>
</div>
<hr>
<div class="tags">
  <a href="/">全部</a>
  <a href="?tag=works">作品</a>
  <a href="?tag=article">文章</a>
  <a href="?tag=other">句子</a>
</div>
<hr>
<ol id="classics" class="list">
  <% if (minds && minds.length) { %>
  <% minds.forEach((mind) => { %>
  <li class="item fade">
    <%- include(tempRoot + 'particles/classicref.html', { mind }) %>
    <div class="bottom-bar">
    </div>
    <hr />
  </li>
  <% }) %>
  <% } else { %>
    <li>
      <center><%= noDataTips %></center>
    </li>
  <% } %>
  <%- include(tempRoot + 'particles/pagination.html') %>
</ol>
