<%- include(tempRoot + 'particles/crumbs.html') %>
<% if (user && (user.administrator || user.super)) { %>
<% } %>
<div class="content">
  <h3><%= classic.title || '' %></h3>
  <blockquote>
    <%= classic.summary || '' %>
  </blockquote>
  <div class="content-viewer">
    <%- classic.content || '' %>
  </div>
  <% if (sections && sections.length) { %>
  <ol>
    <% sections.forEach((section) => { %>
    <li><a href="/section/<%= section._id %>"><%= section.title || '' %></a></li>
    <% }) %>
  </ol>
  <% } %>
</div>