<!doctype html>
<html lang="zh-cmn-Hans">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta name="description" content="<%= slogan %>">
  <title><%= title %></title>
</head>
<body>
  <a href="/">返回</a>
  <h1><%= appName %></h1>
  <h3><%= trouble.content || '' %></h3>
  <form method="post" action="/<%= trouble.id %>/comfort">
    <textarea name="content" placeholder="<%= comfortHolder %>" rows="6" autofocus></textarea>
    <div>
      <button type="submit">发布</button>
      <span><%= info %></span>
    </div>
  </form>
  <ol>
    <% comforts.forEach((comfort) => { %>
    <li>
      <h4><%= comfort.content || '' %></h4>
      <a href="/<%= comfort.id %>/comments">
        <button>评论</button>
      </a>
      <hr />
    </li>
    <% }) %>
  </ol>
  <!--<script src="js/scripts.js"></script>-->
</body>
</html>