<ol id="diarys" class="list">
  <% if (minds && minds.length) { %>
  <% minds.forEach((mind) => { %>
  <li class="item fade">
    <%- include(tempRoot + 'particles/classicref.html', { mind }) %>
    <div class="bottom-bar">
      <span class="datetime"><%= dateFormat(mind.state_change_date) %></span>
      <% if (user && user.id && mind.creator_id.equals(user.id)) { %>
      <div class="right-ctrl">
        <a 
        href="/mind/<%= mind._id %>/modify">
          编辑
        </a>
        <a 
        rel-ctl="diary-remove"
        data-hiding="false"
        data-id="<%= mind._id %>" 
        href="javascript:;">
          删除
        </a>
      </div>
      <% } %>
    </div>
    <hr />
  </li>
  <% }) %>
  <% } else { %>
    <li>
      <center>抱歉，发文和推文功能正在升级中...，不久将会开放，敬请谅解。</center>
    </li>
  <% } %>
  <%- include(tempRoot + 'particles/pagination.html') %>
</ol>
