<div id="userSearch" class="searchBar">
  <input placeholder="请输入对方用户名或邮箱" />
  <button>查找</button>
</div>
<ol id="friends" class="list">
  <% if (friends && friends.length) { %>
    <% friends.forEach(friend => { %>
      <% if (friend.status === 1 && friend.recipient_status === 0) { %>
        <li>
          <div><%= friend.remark || friend.recipient_name %>拒绝了你的申请...</div>
          <div><%= friend.content %></div>
          <div>
            <button
            data-id="<%= friend.recipient_id %>" 
            rel-ctl="friend-remove"
            >删除
            </button>
          </div>
        </li>
      <% } else if (friend.status === 1 && friend.recipient_status === 2) { %>
        <li>
          <div><%= friend.remark || friend.recipient_name %>等待对方验证...</div>
          <div>
            <button
            data-id="<%= friend.recipient_id %>" 
            rel-ctl="friend-remove"
            >取消
            </button>
          </div>
        </li>
      <% } else if (friend.status === 2 && friend.recipient_status === 1) { %>
        <li>
          <div><%= friend.remark || friend.recipient_name %>申请加你为知己</div>
          <div><%= friend.content %></div>
          <div>
            <button
            data-id="<%= friend.recipient_id %>" 
            rel-ctl="friend-accept"
            >同意</button>
          </div>
          <div>
            <button
            data-id="<%= friend.recipient_id %>" 
            rel-ctl="friend-deny"
            >拒绝</button>
          </div>
        </li>
      <% } else if (friend.status === 3 && friend.recipient_status === 3) { %>
        <li>
          <div><%= friend.remark || friend.recipient_name %></div>
          <div>
            <button
            data-id="<%= friend.recipient_id %>" 
            rel-ctl="friend-remove"
            >修改备注名
            </button>             
            <button
            data-id="<%= friend.recipient_id %>" 
            rel-ctl="friend-remove"
            >删除
            </button>
          </div>
      <% } else if (friend.status === 3 && friend.recipient_status === 0) { %>
        <li>
          <div><%= friend.remark || friend.recipient_name %>将你移出了知己...</div>
          <div><%= friend.recipient_conetnt %></div>
          <div>             
            <button
            data-id="<%= friend.recipient_id %>" 
            rel-ctl="friend-remove"
            >删除
            </button>
          </div>
        </li>
      <% } else { %>
        <li>
          <div><%= friend.remark || friend.recipient_name %>关系出现异常</div>
          <div>             
            <button
            data-id="<%= friend.recipient_id %>" 
            rel-ctl="friend-remove"
            >删除
            </button>
          </div>
        </li>
      <% } %>
    <% }) %>
  <% } %>
</ol>
<ol id="users" class="list"></ol>
