<%- include(tempRoot + 'particles/features.html') %>
<div class="editor">
  <form method="post" action="/trouble">
    <textarea name="content" placeholder="<%= troubleHolder %>" rows="6" autofocus></textarea>
    <div class="bottom-bar">
      <div class="info-tips"><%= info || '' %></div>
      <div class="allowed">
        <div class="tips">
          <span>知己可见</span>
          <i class="iconfont icon-suoding"></i>
        </div>
      </div>
      <button type="submit">诉出</button>
    </div>
  </form>
</div>
<ol id="my-troubles" class="list">
  <% if (helps.length ) { %>
  <% helps.forEach((help) => { %>
  <li class="item fade">
    <blockquote>
      <em><%= help.remark && help.remark.toString() || help.username %></em>
      <h3><%= help.content || '' %></h3>
    </blockquote>
    <div class="bottom-bar">
      <a
      rel-ctl="trouble-reply"
      data-id="<%= help._id %>" 
      data-type="trouble"
      data-pid="<%= help._id %>" 
      data-ptype="trouble"
      data-ruid="<%= help.creator_id %>"
      data-shown="false"
      href="javascript:;">
        回复
      </a>
      <% if (help.creator_id.equals(user.id)) { %>
        <a 
        data-id="<%= help._id %>" 
        data-hiding="false" 
        rel-ctl="trouble-remove"
        href="javascript:;">已排解</a>
      <% } %>
    </div>
    <div class="reply-list">
      <%- include(tempRoot + 'particles/replylist.html', { help: help, type: 'list' }) %>
    </div>
    <hr />
  </li>
  <% }) %>
  <% } else { %>
  <li>
    <center><%= noDataTips %></center>
  </li>
  <% } %>
  <%- include(tempRoot + 'particles/pagination.html') %>
</ol>
