<%- include(tempRoot + 'particles/features.html') %>
<div class="content">
  <h3><%= help.content %></h3>
  <div class="bottom-bar">
    <a
    rel-ctl="trouble-reply"
    data-id="<%= help._id %>" 
    data-type="trouble"
    data-pid="<%= help._id %>" 
    data-ptype="trouble"
    data-ruid="<%= help.creator_id %>"
    data-shown="false"
    href="javascript:;">
      回复
    </a>
    <% if (user && user._id && help.creator_id.toString() === user._id.toString()) { %>
      <a 
      data-id="<%= help._id %>" 
      data-hiding="false" 
      rel-ctl="trouble-remove"
      href="javascript:;">已排解</a>
    <% } %>
  </div>
  <div class="reply-list">
    <%- include(tempRoot + 'particles/replylist.html', { help: help, type: 'detail' }) %>
  </div>
</div>
