<div class="banner">
  <div class="inner">
  <div class="download-area">
    <h2><%= slogan %></h2>
    <div id="downloadTips" class="qrcode">
      <div class="split"></div>
      <div class="android">
        <!--<div class="code">二维码</div>-->
        <button id="androidDownloadBtn">
          <i class="iconfont icon-android"></i>
          Android版&nbsp;下载
        </button>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="step first">
  <div class="inner">
    <div class="feature">
      <h3>一、心灵笔记，认识自己</h3>
      <div class="desc">
        <h4>记录内心点滴。</h4>
        <h4>倾诉情感烦恼。</h4>
        <h4>分享人生感悟。</h4>
      </div>
    </div>
    <div class="sample">
      <div 
        style="background-image: url(/static/images/mind.jpg)"
        class="pic"
      ></div>
    </div>
  </div>
</div>
<div class="step sceond">
  <div class="inner">
    <div class="feature">
      <h3>二、结交知己，交流情感</h3>
      <div class="desc">
        <h4>以情感认同和理解为前提结交知己。</h4>
        <h4>与知己相互解忧和心灵慰藉。</h4>
        <h4>匿名、无图，仅交流思想、内心与情感。</h4>
      </div>
    </div>
    <div class="sample">
      <div 
        style="background-image: url(/static/images/karma.jpg)"
        class="pic"
      >
      </div>
    </div>
  </div>
</div>
<div class="step third">
  <div class="inner">
    <div class="feature">
      <h3>三、忠言规谏，启迪心灵</h3>
      <div class="desc">
        <h4>高质量的心学内容推荐。</h4>
        <h4>源于真实内心的原创内容分享。</h4>
        <h4>慢节奏的横华翻页阅读方式。</h4>
        <h4>通过思想上的共鸣与有缘人结缘。</h4>
      </div>
    </div>
    <div class="sample">
      <div 
        style="background-image: url(/static/images/earth.jpg)"
        class="pic"
      >
      </div>
    </div>
  </div>
</div>
<div id="guidePop" class="guide-pop">
  <img class="arrow" src="/static/images/arrow.png" />
  <div class="dialog">
    <div id="guidePopCloseBtn" class="close">
      <i class="iconfont icon-guanbi"></i>
    </div>
    <ol>
      <li>
        点击右上角 “
        <i class="iconfont icon-More"></i>
        ” 按钮
      </li>
      <li>
        选择 “
        <i class="iconfont icon-earth"></i>
        在浏览器打开
        ”
      </li>
    </ol>
  </div>
  <div class="modal"></div>
</div>