<!doctype html>
<html lang="zh-cmn-Hans">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta name="description" content="<%= slogan %>">
  <title><%= title %></title>
</head>
<body>
  <form action="/login" method="post">
    <p><%= info %></p>
    <p>
      <label>
        <input placeholder="<%= usernameHolder %>" name="username" autocomplete="off" />
      </label>
    </p>
    <p>
      <label>
        <input placeholder="<%= passwordHolder %>" type="password" name="password" autocomplete="off" />
      </label>
    </p>
    <p>
      <button type="submit">登录</button>
      <a href="/signup">没有账号，去注册~</a>
    </p>
    <p>
      <a href="/auth/qq">使用QQ登录</a>
      <a href="/auth/google">使用Google账号登陆</a>
    </p>
  </form>
</body>
</html>