<form action="/login" method="post">
  <p class="server-info"><%= info %></p>
  <p class="form-group">
    <label>
      <input placeholder="<%= phoneHolder %>" name="phone" autocomplete="off" />
    </label>
  </p>
  <p class="form-group">
    <label>
      <input placeholder="<%= passwordHolder %>" type="password" name="password" autocomplete="off" />
    </label>
  </p>
  <input type="hidden" name="way" value="local">
  <p class="form-group">
    <button type="submit">登录</button>
  </p>
  <p class="form-group">
    <a class="link" href="/signup">没有账号，去注册~</a>
  </p>
</form>
