<!doctype html>
<html lang="zh-cmn-Hans">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta name="description" content="<%= slogan %>">
  <title><%= title %></title>
</head>
<body>
  <% if (replyType === 'comment') { %>
  <a href="/<%= replyTo.comfort_id %>/comments">返回</a>
  <% } else if (replyType === 'reply') { %>
    <% if (replyTo.reply_type === 'comment') { %>
    <a href="/comment/<%= replyTo.reply_id %>/replys">返回</a>
    <% } else if (replyTo.reply_type === 'reply') { %>
    <a href="/reply/<%= replyTo.reply_id %>/replys">返回</a>
    <% } %>
  <% } %>
  <h1><%= appName %></h1>
  <h3><%= replyTo.content %></h3>
  <form method="post" action="/<%= replyType %>/<%= replyTo.id %>/reply">
    <textarea name="content" placeholder="<%= replyHolder %>" rows="6" autofocus></textarea>
    <div>
      <button type="submit">发布</button>
      <span><%= info %></span>
    </div>
  </form>
  <ol>
    <% replys.forEach((reply) => { %>
    <li>
      <h4><%= reply.content || '' %></h4>
      <a href="/reply/<%= reply.id %>/replys">
        <button>回复</button>
      </a>
      <hr />
    </li>
    <% }) %>
  </ol>
  <!--<script src="js/scripts.js"></script>-->
</body>
</html>