<%- include(tempRoot + 'particles/crumbs.html') %>
<% if (user) { %>
  <div class="editor">
    <input style="display: none;" type="file"  accept="audio/mpeg" v-on:change="fileChange" ref="fileInput">
    <% if (section && section._id) { %>
      <form id="sectionForm" method="put"  action="/section/<%= section._id %> %>">
    <% } else { %>
      <form id="sectionForm" method="post" action="/classic/<%= classicId %>/section">
    <% } %>
      <div class="form-group">
        <input type="text" name="title" placeholder="标题" value="<%= section && section.title || '' %>" />
      </div>
      <div class="form-group">
        <div id="section-toolbar" style="display: none;">
          <%- include(tempRoot + 'particles/editortoolbar.html') %>
        </div>
        <% let content = section && section.content || '' %>
        <div class="editor-area" style="display: none;">
          <span class="placeholder">分享感悟，忠告，或抚慰心灵的鸡汤。</span>
          <div id="section-editor">
            <p><%- content %></p>
          </div>
        </div>
        <textarea 
          style="display: none;" 
          name="content" 
          rows="6" 
          autofocus
        >
          <%- content %>
        </textarea>
      </div>
      <div class="form-group">
        <div class="file-upload">
          <a class="button" href="javascript:;">
            <i class="iconfont icon-musicbyinle"></i>
            上传音频
          </a>
          <div style="display: none;" class="progress">上传进度：<span>0%</span></div>
        </div>
        <input type="hidden" name="audio" value="<%= section && section.audio || '' %>" />
      </div>
      <div class="bottom-bar">
        <button type="submit">
        <% if (section && section.title) { %>
          更新
        <% } else { %>
          保存
        <% } %>
        </button>
        <span><%= info %></span>
      </div>
    </form>
  </div>
  <% } %>
