<div class="crumbs">
  <a href="/">首页</a>
  <span class="crumbs-split"> > </span>
  <a href="/classic/<%= section.classic && section.classic[0] && section.classic[0]._id || '' %>"><%= section.classic && section.classic[0] && section.classic[0].title || '' %></a>
  <span class="crumbs-split"> > </span>
  <span><%= section.title || '' %></span>
</div>
<div class="content">
  <h1><%= section.title || '' %></h1>
  <div class="content-viewer"><%- section.content || '' %></div>
  <% if (prevSection || nextSection) { %>
  <div class="pagination">
    <% if (prevSection) { %>
    <a href="/section/<%= prevSection._id %>" class="prev-section page-num">上一篇</a>
    <% } %>
    <% if (nextSection) { %>
    <a href="/section/<%= nextSection._id %>" class="next-section page-num">下一篇</a>
    <% } %>
  </div>
  <% } %>
</div>