<% if (user) { %>
<%- include(tempRoot + 'particles/crumbs.html', { right_btn: true, redirect: '/section/' + section._id + '/modify' }) %>
<% } %>
<div class="content">
  <h1><%= section.title || '' %></h1>
  <div class="content-viewer">
    <%- section.content || '' %>
    <% if (prevSection || nextSection) { %>
    <div class="pagination">
      <% if (prevSection) { %>
      <a href="/section/<%= prevSection._id %>" class="prev-section page-num">上一篇</a>
      <% } %>
      <% if (nextSection) { %>
      <a href="/section/<%= nextSection._id %>" class="next-section page-num">下一篇</a>
      <% } %>
    </div>
    <% } %>
    </div>
  </div>
</div>