
<%- include(tempRoot + 'particles/crumbs.html') %>
<div class="editor">
  <form method="put" id="shareForm" action="/share/<%= share._id %>">
    <div class="form-group">
      <div><%= shareColumnHolder %></div>
      <ol id="columnSelector" class="share-type-selector">
        <% for (let [key, column] of Object.entries(columns)) { %>
          <li data-id="<%= column.id %>" rel-ctl="column-select"><%= column.name %></li>
        <% } %>
      </ol>
      <select id="shareTypeSelector" name="column_id" style="display: none;">
        <% for (let [key, column] of Object.entries(columns)) { %>
          <option><%= shareColumnHolder %></option>
          <% if (share.column_id === column.id) { %>
            <option selected="selected" value="<%= column.id %>"><%= column.name %></option>
          <% } else { %>
            <option value="<%= column.id %>"><%= column.name %></option>
          <% } %>
        <% } %>
      </select>
    </div>
    <div id="shareEditor">
      <%- include(tempRoot + 'particles/shareeditor.html') %>
    </div>
  </form>
</div>
