<form action="/signup" method="post">
  <p class="server-info"><%= info %></p>
  <p class="form-group">
    <label>
      <input placeholder="<%= usernameHolder %>" name="username" value="<%= username %>" autocomplete="off" />
    </label>
  </p>
  <p class="form-group">
    <label>
      <input placeholder="<%= passwordHolder %>" type="password" name="password" value="<%= password %>" autocomplete="off" />
    </label>
  </p>
  <p class="form-group">
    <label>
      <input placeholder="<%= emailHolder %>" type="email" name="email" value="<%= email %>" autocomplete="off" />
    </label>
  </p>
  <div class="form-group">
    <div  class="vcode-info"></div>
    <div class="code">
      <label>
        <input type="text" name="code" placeholder="请输入验证码 ..." value="<%= code %>" id="code" />
      </label>
      <label>
        <button rel-ctl="sendCode">发送验证码</button>
      </label>
    </div>
  </div>
  <p class="form-group">
    <button type="submit">注册</button>
    <a href="/login">已有账号，登录</a>
  </p>
</form>
