<%- include(tempRoot + 'particles/features.html') %>
<%- include(tempRoot + 'particles/crumbs.html') %>
<ol id="translates" class="list">
  <% if (translates && translates.length) { %>
  <% translates.forEach((translate) => { %>
  <li class="item fade">
    <blockquote>
      <h3>
        <a href="/translate/<%= translate._id %>"><%= translate.title || '' %></a>
      </h3>
    </blockquote>
    <div class="bottom-bar">
      <% if (user && user._id) { %>
        <% if (translate.creator_id.toString() === user._id.toString()) { %>
          <a href="/translate/<%= translate._id %>/modify">
            编辑
          </a>
          <a 
          rel-ctl="translate-remove"
          data-hiding="false" 
          data-id="<%= translate._id %>" 
          href="javascript:;">
            删除
          </a>
        <% } %>
      <% } %>
    </div>
    <hr />
  </li>
  <% }) %>
  <% } else { %>
    <li>
      <center><%= noDataTips %></center>
    </li>
  <% } %>
  <%- include(tempRoot + 'particles/pagination.html') %>
</ol>
