<% if (user) { %>
<div class="editor">
  <input style="display: none;" type="file" accept="image/gif, image/png, image/jpeg, image/jpg, image/bmp, image/webp">
  <% if (typeof classic !== 'undefined') { %>
  <% if (classic && classic._id) { %>
    <form id="classicForm" method="put"  action="/classic/<%= classic._id %>">
  <% } else { %>
    <div class="tips">
      ! 请推荐对他人心灵有帮助的内容。
    </div>
    <form id="classicForm" method="post" action="/classic">
  <% } %>
  <% } %>
  <% if (typeof mind !== 'undefined') { %>
  <% if (mind && mind._id) { %>
    <form id="classicForm" method="put"  action="/mind/<%= mind._id %>">
  <% } else { %>
    <form id="classicForm" method="post" action="/mind">
  <% } %>
  <% } %>
    <% if (typeof classic !== 'undefined') { %>
    <div class="form-group">
      <textarea name="reason" placeholder="推荐理由（147个字以内)"><%= classic && classic.mind && (classic.mind.content || (classic.mind[0] && classic.mind[0].content)) || '' %></textarea>
      <div class="tips" style="display: none;"></div>
    </div>
    <div class="form-group">
      <input type="text" name="original_author" placeholder="原作者" value="<%= classic && classic.original_author || '' %>" />
    </div>
    <div class="form-group">
      <input type="text" name="source" placeholder="来源" value="<%= classic && classic.source || '' %>" />
    </div>
    <% } %>
    <div class="form-group">
      书写类型：
      <% if (typeof mind !== 'undefined') { %>
      <% [{ value: 'sentence', name: '句子' }, { value: 'article', name: '文章' }].forEach(function(item) { %>
      <input name="column_id" type="radio" value="<%= item.value %>"<% if ((mind && item.value === mind.column_id) || (!mind && item.value === 'sentence')) { %> checked<% } %>><label><%= item.name %></label>
      <% }) %>
      <% if (user.administrator || user.super) { %>
      <input name="column_id" type="radio" value="works"<% if (mind && 'works' === mind.column_id) { %> checked<% } %>><label>作品</label>
      <% } %>
      <% } %>
      <% if (typeof classic !== 'undefined') { %>
      <% [{ value: 'sentence', name: '句子' }, { value: 'article', name: '文章' }].forEach(function(item) { %>
      <input name="column_id" type="radio" value="<%= item.value %>"<% if ((classic && item.value === classic.column_id) || (!classic && item.value === 'sentence')) { %> checked<% } %>><label><%= item.name %></label>
      <% }) %>
      <% if (user.administrator || user.super) { %>
      <input name="column_id" type="radio" value="works"<% if (classic && 'works' === classic.column_id) { %> checked<% } %>><label>作品</label>
      <% } %>
      <% } %>
    </div>
    <div class="form-group" style="display: none;">
      <div class="file-upload">
        <a class="button" href="javascript:;">上传图片</a>
        <div style="display: none;" class="progress">上传进度：<span>0%</span></div> 
        <div style="display: none;" class="preview">
          <i class="iconfont icon-guanbi"></i>
        </div>
      </div>
      <% if (typeof mind !== 'undefined') { %>
      <input type="hidden" name="poster" value="<%= mind && mind.poster || '' %>" />
      <% } %>
      <% if (typeof classic !== 'undefined') { %>
      <input type="hidden" name="poster" value="<%= classic && classic.poster || '' %>">
      <% } %>
    </div>
    <% if (typeof mind !== 'undefined') { %>
    <div class="form-group" style="display: <% if (!mind || (mind && mind.column_id !== 'sentence')) { %>''<% } else { %>none<% } %>;">
      <input name="title" type="text" placeholder="标题" value="<%= mind && mind.title || '' %>">
    </div>
    <% } %>
    <% if (typeof classic !== 'undefined') { %>
    <div class="form-group" style="display: <% if (!classic || (classic && classic.column_id !== 'sentence')) { %>''<% } else { %>none<% } %>;">
      <input name="title" type="text" placeholder="标题" value="<%= classic && classic.title || '' %>">
    </div>
    <% } %>
    <div class="form-group">
      <% if (typeof mind !== 'undefined') { %>
      <input type="text" name="keywords" placeholder="类别或关键词，多个用空格分隔 [非必填]" value="<%= mind && mind.keywords && mind.keywords.join(' ') || '' %>" autocomplete="off" />
      <% } %>
      <% if (typeof classic !== 'undefined') { %>
      <input type="text" name="keywords" placeholder="类别或关键词，多个用空格分隔 [非必填]" value="<%= classic && classic.mind && ((classic.mind.keywords && classic.mind.keywords.join(' ')) || (classic.mind[0] && classic.mind[0].keywords && classic.mind[0].keywords.join(' '))) || '' %>" autocomplete="off" />
      <% } %>
    </div>
    <% if (typeof mind !== 'undefined') { %>
      <% if (!mind || !mind._id) { %>
      <input name="type_id" type="hidden" value="share">
      <% } %>
    <% } %>
    <div class="form-group">
      <div id="mind-toolbar" style="display: none;">
        <%- include(tempRoot + 'particles/editortoolbar.html') %>
      </div>
      <% if (typeof mind !== 'undefined') { %>
      <% let content = mind && mind.content || '' %>
      <div class="editor-area" style="display: none;">
        <span class="placeholder">分享感悟，忠告，或抚慰心灵的鸡汤。</span>
        <div id="mind-editor">
          <p><%- content %></p>
        </div>
      </div>
      <textarea style="display: none;" name="content" rows="6" placeholder="<%= shareHolder || '' %>"><%- content %></textarea>
      <% } %>
      <% if (typeof classic !== 'undefined') { %>
      <% let content = classic && classic.content || '' %>
      <div class="editor-area" style="display: none;">
        <span class="placeholder">分享感悟，忠告，或抚慰心灵的鸡汤。</span>
        <div id="mind-editor">
          <p><%- content %></p>
        </div>
      </div>
      <textarea style="display: none;" name="content" rows="6" placeholder="<%= shareHolder || '' %>"><%- content %></textarea>
      <% } %>
      <div class="tips" style="display: none;"></div>
    </div>
    <div class="bottom-bar">
      <button type="submit" disabled>
      <% if ((typeof classic !== 'undefined' && classic && classic._id) || (typeof mind !== 'undefined' && mind && mind._id)) { %>
        更新
      <% } else { %>
        发布
      <% } %>
      </button>
      <button ref="add-section">
        添加章节
        <i class="iconfont icon-jiantou"></i>
      </button>
      <span><%= info %></span>
    </div>
  </form>
</div>
<% } %>