<span class="ql-formats">
  <button class="ql-bold">Bold</button>
  <button class="ql-italic">Italic</button>
</span>
<span class="ql-formats">
  <button class="ql-header" value="1">H1</button>
  <button class="ql-header" value="2">H2</button>
  <button class="ql-blockquote">blockquote</button>
</span>
<span class="ql-formats">
  <button class="ql-list" value="ordered">ol</button>
  <button class="ql-list" value="bullet">ul</button>
  <button class="ql-indent" value="-1">indent</button>
  <button class="ql-indent" value="+1">indent</button>
</span>
<span class="ql-formats">
  <button class="ql-align">left</button>
  <button class="ql-align" value="center">center</button>
  <button class="ql-align" value="right">right</button>
  <button class="ql-align" value="justify">justify</button>
</span>
<span class="ql-formats">
  <button class="ql-image">image</button>
  <!--<button class="ql-video">video</button>-->
</span>