<head>
  <!-- PC -->
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta name="description" content="<%= slogan %>">
  <!-- mobile -->
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <title><%= title %></title>
  <link href="//at.alicdn.com/t/font_942830_cdu1yoiy5ml.css" rel="stylesheet">
  <link href="<%= globalStyleFile %>" rel="stylesheet">
  <link href="<%= pageStyleFile %>" rel="stylesheet">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/dom4/2.0.0/dom4.js">/* DOM4 */</script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>