<li class="pagination">
  <% if (pageInfo.prevPage) { %>
  <a class="page-num" href="?page=<%= pageInfo.prevPage %><% if (typeof currTag !== 'undefined') { %>&tag=<%= currTag %><% } %>">上一页</a>
  <% } %>
  <% pageInfo.pages.forEach((page) => { %>
  <% if (pageInfo.currPage === page) { %>
  <a class="page-num current" href="?page=<%= page %><% if (typeof currTag !== 'undefined') { %>&tag=<%= currTag %><% } %>"><%= page %></a>
  <% } else { %>
  <a class="page-num" href="?page=<%= page %><% if (typeof currTag !== 'undefined') { %>&tag=<%= currTag %><% } %>"><%= page %></a>
  <% } %>
  <% }) %>
  <% if (pageInfo.nextPage) { %>
  <a class="page-num" href="?page=<%= pageInfo.nextPage %><% if (typeof currTag !== 'undefined') { %>&tag=<%= currTag %><% } %>">下一页</a>
  <% } %>
</li>