<div 
  class="popup" 
  style="max-width: <%= width + 'px' %>;"
  >
  <div>关闭</div>
  <div>请选择您要推荐并回复哪一条忧扰</div>
  <ol>
    <% if (helps.length ) { %>
      <% helps.forEach((help) => { %>
      <li 
      rel-ctl="help-select-recommend" 
      class="item fade" 
      data-id="<%= help._id %>" 
      data-type="trouble"
      data-pid="<%= help._id %>" 
      data-ptype="trouble"
      data-cid="<%= classicId %>"
      >
        <div><%= help.remark.toString() || help.username %></div>
        <h3><%= help.content || '' %></h3>
        <hr />
      </li>
      <% }) %>
    <% } else { %>
      <li>
        <center><%= noDataTips %></center>
      </li>
    <% } %>
  </ol>
</div>