<% shares.forEach((share) => { %>
<li class="item fade">
  <div><%= share.author && share.author.panname || '' %>：</div>
  <blockquote>
    <% if (share.title) { %>
    <a href="/share/<%= share._id %>"><h3><%= share.title || '' %></h3></a>
    <% } %>
    <p><%= share.summary || '' %></p>
    <em><%= share.name || '' %></em>
  </blockquote>
  <div class="bottom-bar">
    <% if (!share.isThanked) { %>
      <a 
      data-id="<%= share._id %>" 
      rel-ctl="share-thank" 
      href="javascript:;">
        赞叹
      </a>
    <% } else { %>
      已赞叹
    <% } %>
    <% if (user && user._id) { %>
    <% if (share.creator_id.toString() === user._id.toString()) { %>
    <a href="/share/<%= share._id %>/modify">
      编辑
    </a>
    <a 
    rel-ctl="share-remove"
    data-hiding="false" 
    data-id="<%= share._id %>" 
    href="javascript:;">
      删除
    </a>
    <% } %>
    <% } %>
    <a 
    rel-ctl="share-report"
    data-id="<%= share._id %>" 
    href="javascript:;">
      举报
    </a>
  </div>
  <hr />
</li>
<% }) %>
