<% if (share.column_id === 'literature') { %>
<div class="form-group">
  <input name="title" placeholder="标题" value="<%= share && share.title || '' %>" />
</div>
<% } %>
<% if (share.column_id === 'sentence' || share.column_id === 'literature') { %>
<div class="form-group">
  <textarea name="content" placeholder="<%= shareHolder %>" rows="6"><%= share && share.content || '' %></textarea>
</div>
<% } %>
<div class="bottom-bar">
  <div class="info-tips"><%= info || '' %></div>
  <div class="allowed">
    <div class="tips">
      <span>所有人可见</span>
      <i class="iconfont icon-jiesuo"></i>
    </div>
  </div>
  <% if (share && share.content) { %>
    <button type="submit">更新</button>
  <% } else { %>
    <button type="submit">分享</button>
  <% } %>
</div>