<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <!-- PC -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="<%= slogan %>">
    <!-- mobile -->
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <link rel="icon" href="/static/favicon.ico">
    <title><%= title %></title>
    <link href="//at.alicdn.com/t/font_1121893_xcb6qcs38es.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
  </head>
<body>
  <div class="main">
    <!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch -->
    <h1>
      <svg width="18px" height="44px" viewBox="0 0 18 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Group-4" transform="translate(-1.000000, -1.000000)">
              <path d="M10.4188219,4.98996825 C10.4188219,4.98996825 8.83882095,2.52867632 5.9715053,3.08068263 C2.9838055,3.83183994 2.45176563,7.10092676 3.48004592,9.35166662 C4.73327909,12.0948593 7.36346448,13.9917456 10.4996675,17 C13.3927527,14.275564 16.6823603,12.0883181 17.6515475,9.17597451 C18.60833,6.30085517 17.6311088,3.2063834 14.2686896,3.09397513 C11.4574606,2.99998195 10.4188219,4.98996825 10.4188219,4.98996825 Z" id="Shape" fill="#EE3D80" fill-rule="nonzero" transform="translate(10.500000, 10.000000) rotate(-28.000000) translate(-10.500000, -10.000000) "></path>
              <path d="M13,16 L15.5701129,16 C17.8567043,20.5335932 19,25.2991234 19,30.2965904 C19,35.2940574 17.8567043,40.1951939 15.5701129,45 L13,45 C15.568712,40.0988635 16.8530679,35.2655301 16.8530679,30.5 C16.8530679,25.7344699 15.568712,20.9011365 13,16 Z" id="Rectangle-8" fill="#94CD92"></path>
          </g>
        </g>
      </svg>
      <strong><%= appName %></strong>
    </h1>
    <h2><%= slogan %></h2>
    <div class="qrcode">
      <!--<div class="ios">
        <h3 class="device">
          <i class="iconfont icon-ios"></i>
          <strong>IOS</strong>
        </h3>
        <button>下载</button>
        <div class="code">二维码</div>
      </div>-->
      <div class="split"></div>
      <div class="android">
        <!--<div class="code">二维码</div>-->
        <button id="androidDownloadBtn">
          <i class="iconfont icon-android"></i>
          Android版&nbsp;下载
        </button>
      </div>
    </div>
  </div>
  <div class="sample"></div>
  <div class="footer"><%= icpCode %></div>
  <div id="guidePop" class="guide-pop">
    <img class="arrow" src="/static/images/arrow.png" />
    <div class="dialog">
      <div id="guidePopCloseBtn" class="close">
        <i class="iconfont icon-guanbi"></i>
      </div>
      <ol>
        <li>点击右上角 “···” 按钮</li>
        <li>选择 “在浏览器打开”</li>
      </ol>
    </div>
    <div class="modal"></div>
  </div>
</body>
<script>
  var version = checkVersion()
  , guidePop = document.getElementById('guidePop');

  document.body.onclick = function(ev) {
    ev = ev || window.event;
    var target = ev.target || ev.srcElement;
    const handles = {
      'androidDownloadBtn': generateHandle(function() {
        if (version.weixin) {
          guidePop.style.display = 'block'
        } else {
          location.href = 'https://www.tianyeapp.top/download?type=android'
        }
      }),
      'guidePopCloseBtn': generateHandle(function() {
        guidePop.style.display = 'none'
      })
    }
    let level = 2
    while(!(handles[target.id] || function() {
      return false
    })() && level > 0) {
      target = target.parentNode
      level--
    }
  }

  function generateHandle(callback) {
    return function() {
      callback()
      return true
    }
  }

  function checkVersion(){
    var ua = window.navigator.userAgent.toLowerCase();
    var version = {
        "ios" : ua.indexOf("iphone") > -1,
        "android" : ua.indexOf("android") > -1 || ua.indexOf("linux") > -1,
        "safari" : ua.indexOf("iphone") > -1,
        "weixin" : (ua.match(/MicroMessenger/i) == 'micromessenger')
    };
    return version;
  }
</script>
</html>