.editor {
  .form-group {
    margin-bottom: 10px;
    ol.share-type-selector {
      display: flex;
      justify-content: flex-start;
      li {
        margin-right: 10px;
        font-size: 14px;
        padding: 10px;
        border: 1px solid lighten($gray, 68%);
        border-radius: 3px;
      }
    }
    input, textarea, .rich-textarea {
      width: 100%;
      /*max-width: 360px;*/
      box-sizing: border-box;
    }
    textarea {
      height: 60px;
    }
    .rich-textarea {
      min-height: 60px;
    }
  }
  .bottom-bar {
    display: flex;
    align-items: center;
    width: 100%;
    /*max-width: 360px;*/
    .info-tips {
      flex: 1;
    }
    .allowed {
      .tips {
        margin-right: 5px;
        color: lighten($gray, 68%);
        border-radius: 3px;
        background-color: lighten($gray, 95%);
        border: 1px solid lighten($gray, 90%);
        padding: 10px;
        span, .iconfont {
          height: 12px;
          line-height: 12px;
          vertical-align: middle;
        }
        .iconfont {
          color: lighten($gray, 72%);
        }
      } 
    }
  }
}